.ChatBox_container {
	display: flex;
	justify-content: center;
}

.ChatBox_main {
	display:flex;
	background-color: #919ffb;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 90%;
	height: 600px;
	border-radius: 15px;
}

.chatLog {
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	margin-bottom: 1%;
	width: 96%;
	height: 88%;
	border-radius: 15px;
}